[Unit]
Description=Webhook Listener Service
After=network.target

[Service]
Type=simple
User=spedymax
WorkingDirectory=/home/spedymax/tg-bot
ExecStart=/home/spedymax/venv/bin/python3 /home/spedymax/scripts/webhook-listener.py
Restart=on-failure
RestartSec=15
Environment=PYTHONPATH=/home/spedymax/tg-bot

[Install]
WantedBy=multi-user.target
